.connected-dots {
	list-style-type: none;
	position: relative;
	padding-left: 2px;
  }
  
  .connected-dots::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0px; /* Adjust the position as needed */
	width: 2px;
	height: 7vh;
	background-color: black; /* Adjust the line color as needed */
  }
  
  .connected-dots li {
	position: relative;
  }
  
  .connected-dots li::before {
	content: '';
	
  }
  .connected-dots1 {
	list-style-type: none;
	position: relative;
	padding-left: 22px;
  }
  
  .connected-dots1::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0px; /* Adjust the position as needed */
	width: 2px;
	height: 20vh;
	background-color: black; /* Adjust the line color as needed */
  }
  
  .connected-dots1 li {
	position: relative;
  }
  
  .connected-dots1 li::before {
	content: '';
	
  }
  .line {
	width: 200%;
	height: 1px;
	background-color: black;
  }
  .flex-container {
	display: flex;
	flex-wrap: wrap;
  }
  
  .flex-item {
	flex: 1 0 25%; /* Adjust the width as needed */
	/* Other styling for the blocks */
  }
  .block-container {
	display: flex;
	flex-direction: row;
	height: 70vh;
  }
  .block {
	
	padding-right: 2%;
  }

  @keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
  }

  .blink {
	animation: blink 1.2s infinite;
  }
  @keyframes blinkr {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
  }

  .blinkr {
	animation: blink 0.4s infinite;
  }